.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d4d4d4;
  margin: 30px 5px;
  padding: 10px 20px;
  border-radius: 10px;
  user-select: none;
  box-shadow: 7px 7px 20px #a1a1a1,
    -7px -7px 20px #ffffff;
}

.task:hover {
  background: #c5c4c4;
  transition: all 0.2s ease-in-out;
}

.faTimes {
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.task:hover .faTimes {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.task.reminder {
  border-left: 6px solid rgb(156, 155, 155);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}