  .btn {
    display: inline-block;
    background: linear-gradient(to left top,#c8c8c8,#f0f0f0);
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 7px 7px 25px #a1a1a1,
    -7px -7px 25px #ffffff;

  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    box-shadow: inset 7px 7px 25px #a1a1a1,
    inset -7px -7px 25px #ffffff;
  }
  
  .save {
    display: flex;
    height: 60px;
  }

  .btn-save {
    flex-grow: 1;
  }
  