
.container {
  height: 80vh;
  width: 50%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  background: linear-gradient(to left top,#b4b4b4,#dedede);
  border: none;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 13px 13px 40px #4f4f4f,
  -13px -13px 40px #ffffff;

}

.innerbox::-webkit-scrollbar {
  width: 5px;    
}

.innerbox::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(45, 45, 45, 0.2);
  background: rgba(0,0,0,0.2);
}

.innerbox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(45, 45, 45, 0.2);
  border-radius: 20px;
  background: rgba(0,0,0,0.1);
}
