.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  user-select: none;
  color: rgb(22, 22, 22);
  transition: all 0.1s ease-in-out;
}

.title:hover {
  color: rgb(99, 99, 99);
}

.headbtn {
  transition: all 0.2s ease-in-out;
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

